.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-left: 1rem;
}
.navbar .logo {
	width: 2rem;
	height: 2rem;
	object-fit: contain;
	margin: 3rem 1rem;
}
.navbar .navbar-links {
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(15px);
	display: flex;
	flex-direction: row;
	padding: 1.5rem;
	position: relative;
	overflow: hidden;
}

.navbar .navbar-links li {
	list-style: none;
	color: #fff;
	padding: 0 1rem;
}
.navbar .navbar-links li:nth-of-type(1) {
	margin-left: 3rem;
}
.navbar .navbar-links li:last-of-type {
	margin-right: 7rem;
}
.navbar .navbar-links li span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--clr--light);
}
.navbar .navbar-links li a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--clr-light);
	font-size: 1rem;
	font-weight: 100;
	margin: 0 1rem;
}
.navbar .navbar-links .close-button {
	display: none;
}
.navbar .ham {
	display: none;
}
@media (max-width: 768px) {
	.navbar .navbar-links {
		flex-direction: column;
		display: none;
		background: rgba(255, 255, 255, 0.03);
		margin: 3em 0 0 0;
		gap: 4em;
		padding: 2em 6em 2em 2em;
		height: 80vh;
	}
	.navbar .navbar-links li {
		margin: 0 !important;
	}
	.navbar .logo {
		align-self: flex-start;
		width: 1.5rem;
		height: 1.5rem;
	}
	.navbar .navbar-links .close-button {
		display: block;
		padding: 0;
		margin: 0;
		top: 2rem;
		right: 2rem;
		width: 1rem;
		height: 1rem;
		position: absolute;
		opacity: 0.7;
		transition: transform 150ms ease-in-out, opacity 50ms ease-in-out;
	}
	.navbar .navbar-links .close-button:hover {
		transform: rotate(180deg);
		transform: scale(1.1);

		opacity: 1;
	}

	.navbar .ham {
		display: inline-block;
		margin: 0 1rem;
		transition: opacity 0.1s ease-in;
	}
	.navbar .ham:hover {
		opacity: 0.7;
	}
}

@media (max-width: 576px) {
}
