:root {
	--clr-dark: #1d1d1d;
	--clr-light: #fafafa;
	--clr-primary: #ff5c5c;
	--clr-grey: #e5e5e5f1;
	--clr-grey-light: #f5f5f5;
	--clr-grey-lighter: #fafafa;
	--dark-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
